<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
	<script type="text/javascript" src="../public/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Curriculo Kauê</title>
</head>
<body>
    <header>
        <nav id="navi" class="navi">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="curriculo.html">Currículo</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>

    </header>

    <section>
        <h1>Currículo Kauê</h1>

					
					<h2>Dados Pessoais</h2>
					<hr>

						<img class="cv-pic" src="../public/img/Kaue.png" alt="Foto de Kaue Felipe Sodate">
						<h3>Nome:</h3>

							<p>Kauê Felipe Sodate</p>

						<h3>Data de Nascimento:</h3>

							<p>09/07/2003</p>

						<h3>Residência:</h3>

							<p>Bauru-SP</p>

						<h3 style="clear: left">Idiomas:</h3>

							<p>Português (Nativo)</p>
							<p>Inglês básico</p>
    </section>

    <section>
        <main>
            <h2>Sobre Mim</h2>
					<hr>

							<p>Busco um novo desafio em minha carreira e um lugar no mercado, pois quero continuar desenvolvendo minhas habilidades e usar meu conhecimento e experiência para trabalhar em conjunto com os meus colegas 
								para alcançar resultados frutíferos nesta empresa. Assim podendo me desenvolver profissionalmente, demonstrar as minhas capacidades e competências técnicas e emocionais, e colaborar 
								com os meus colegas e gestores para o desenvolvimento da organização e da equipa. Com muito interesse e comprometimento, busco mais conhecimento para me desenvolver a fim de melhorar 
								os resultados organizacionais desta empresa através da colaboração.
							</p>
					
					<h2>Educação</h2>
					<hr>

						<h3>2020</h3>

							<p>Ensino médio / Colégio Geração</p>

						<h3>2022-2024</h3>

							<p>Análise e desenvolvimento de sistemas / Instituição Toledo de Ensino</p>
	
					<h2>Habilidades</h2>
					<hr>

						<h3>Cloud computing - OCI</h3>

							<p>Criação de máquinas virtuais / Configurações de redes virtuais</p>

						<h3>Java</h3>

							<p>Modelo DAO / POO intermediário / GUI para aplicações desktop</p>

						<h3>Linux</h3>

							<p>Comando de linux básico ao avançado, sendo de rede e até infraestrura do SO</p>

						<h3>Apache</h3>

							<p>Deploy de aplicações WEB</p>

						<h3>Docker</h3>

							<p>Deploy de API web via Docker</p>
						
						<h3>HTML e CSS</h3>

							<p>Construção de sites e sua estilização</p>

					
					<h2>Experiência de Trabalho</h2>
					<hr>

						<h3>2022</h3>

							<p>Suporte a servidores cloud - Harpo - Bauru</p>
        </main>
    </section>

    <section>
        <h2>Contato</h2>
					<hr>
                    <h3>E-mail</h3>
							<p>kauefsodate@gmail.com</p>
					

    </section>

    <footer>
        <h3>Telefone:</h3>
				<p>14-991669354</p>

				<h3>Redes Sociais:</h3>
				<a href="https://www.linkedin.com/in/kaue-felipe-sodate-888364217/" target="_blank"><img class="social-img" src="../public/img/linkedin (2).png" alt="Link para o Linkedin"></a>
				<a href="https://www.instagram.com/kaue_sodate/" target="_blank"><img class="social-img" src="../public/img/instagram.png" alt="Link para o facebook"></a>
				<a href="https://github.com/KaueFSodate?tab=repositories" target="_blank"><img class="social-img" src="../public/img/github.png" alt="Link para o facebook"></a>

				<br><br>
    </footer>
</body>
</html>